body { font-family: monospace; text-align: center; }

.container { border: 3px solid; }

.game-header { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; }

.result { margin-left: 40px; margin-right: 40px; }

.game-title { margin-top: 60px; }

h1 { font-size: 40px; }

h2 { font-size: 26px; }

h3 { font-size: 22px; text-decoration: underline; }

h4 { font-size: 44px; }

.game-buttons { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; }

.rock, .paper, .scissors { width: 160px; height: 180px; margin: 15px; opacity: 0.5; }

.paper { background: url("http://bachmacka.pl/files/Superkoders/papier.PNG") 0/cover; }

.rock { background: url("http://bachmacka.pl/files/Superkoders/kamien.PNG") 0/cover; }

.scissors { background: url("http://bachmacka.pl/files/Superkoders/nozyce.PNG") 0/cover; }

.output { height: 100px; margin-top: 40px; font-size: 20px; font-weight: bold; }

.newgame { width: 200px; height: 50px; border: 2px solid; background-color: white; margin-top: 20px; margin-bottom: 30px; border-radius: 5px; font-size: 24px; cursor: pointer; }

.active { opacity: 1.0; cursor: pointer; }

.hidden { display: none; }

.overlay { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }

.show { display: block; }

.modal { background-color: white; width: 600px; position: absolute; top: 40%; left: 50%; transform: translate3d(-50%, -50%, 0); }

.modal header { font-size: 24px; font-weight: bold; padding: 10px; }

.modal .content { padding: 15px; font-size: 14px; }

.close { position: absolute; top: 0px; right: 5px; padding: 5px; color: #000; text-decoration: none; font-size: 16px; }
